* {
    box-sizing: border-box;
}
.interactive-atom {
    margin: 0;
    padding: 0;
}

#Glabs {
    background-color: #232323;
}
.clearfix {
    &::after {
        clear: both;
        content: '';
        display: block;
    }
}
body, a {
    color: white;
}
body {
    margin: 0;
    background-color: #333;
}


.container {
    padding: 1rem;
    @include mq(desktop) {
        padding: 2rem;
    }
}

.audio-player {
    width: 60%;
}

.d-flex {
    display: flex;
    &.d-center {
        justify-content: center;
        align-items: center;
    }
}

.grid {

    max-width: 1024px;
    margin: auto;
    header {
        padding: 1rem;
        @include mq(desktop) {
            display: flex;
            align-items: flex-end;

            h1 {
                margin-bottom: 0.4rem;
            }
        }

    }
    .grid-container {
        .wrap {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
        }
        a {
            float: left;
        }
        margin: 0;
        padding: 0;
        list-style: none;
        // display: flex;
        // flex-wrap: wrap;
        // align-content: start;
        // flex-grow: 1;

        .grid-item, li  {
            width: 50%;
            height:33vh;
            border: 1px solid #97979738;
            display: inline-block;
            vertical-align: top;
            
            // @include mq(desktop) {
            //     // float: left;
            //     width: 50%;
            // }
            // align-items: center;
            // justify-content: center;
            
            &.expandable {
                cursor: pointer;
            }
            &.auto-h {
                height: auto;
            }
            .tile-content {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            @include mq(tablet) {
                width: 25%;
            }

            &.active {
                // cursor: default;
            }
            // @include mq($until: tablet) {

            //     $order: 10 20 30 40 70 50 60 80 90 100;
            //     @for $i from 1 through length($order) {
            //         &:nth-child(#{$i}) {
            //             order: nth($order, $i);
            //         }
            //     }
            // }
        }

        .expander {
            position: relative;
            float: left;
            width: 100%;
            // min-height: 30vh;
            background-color: #2e2e2e;
            overflow: hidden;

            display: flex;
            // justify-content: center;
            align-items: center;
            // visibility: hidden;
            // display: none;

            &.active {
                // display: block;
            }

            .close {
                position: absolute;
                top: 1rem;
                right: 1rem;
                background: url('<%= path %>/close_icon.svg') no-repeat 50%;
                background-size: contain;
                width: 65px;
                height: 65px;
            }

            .container {
                display: flex;
                width: calc(100% - 65px - 1rem);
            }
            h2 {
                margin-top: -1.2rem;
            }
            img {
                max-width: 100%;
            }
            .col1, .col2 {
                width: 50%;
                // display: inline-block;
            }
            .col2 {
                padding-left: 1rem;
            }
        }

        .audio + .expander {
                height: 33vh;
        }
        // .grid-item:nth-child(3) {
        //     height: 75%;
        // }
        .w-100 {
            width: 100%;
        }
        .w-50 {
            width: 100%;
        }
        @include mq(tablet) {

            .w-50 {
                width: 50%;
            }
        }


    }

    .grid-item:nth-of-type(2) {
        .bg {
            height: 100%;
            background: url("<%= path %>/tile1_bg.png");
            background-size: cover;
            display: flex;
            align-items: flex-end;
        }

        a {
            width: 50%;
        }
    }
    .grid-item:nth-of-type(4) {
        .bg {
            height: 100%;
            background: url("<%= path %>/tile3_bg.png");
            background-size: cover;
            display: flex;
            align-items: flex-end;
        }

        a {
            width: 50%;
        }
    }

}