* {
    box-sizing: border-box;
}
.interactive-atom {
    margin: 0;
    padding: 0;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
    }
}

#Glabs {
    background-color: #86A9B9;
}
.clearfix {
    &::after {
        clear: both;
        content: '';
        display: block;
    }
}
body, a {
    color: white;
}
body {
    margin: 0;
    background-color: #86A9B9;
}

#root {
    opacity: 0;
    visibility: hidden;
}

.container {
    padding: 1rem;
    // @include mq(desktop) {
    //     padding: 2rem;
    // }
}

.max-container {
    max-width: 1025px;
    margin: auto;
}


.client {
    display: inline-block;
    margin-top: 2rem;
    @include mq(tablet) {
        margin-top: 0;
    }
    border-top: 1px dashed #D8D8D8;
    img {
        width: 140px;
    }

    .social-share {
        border-top: 1px dashed #D8D8D8;
        white-space: nowrap;
        margin-top: 10px;
        padding-top: 16px;
        // display: flex;
        display: inline-block;
        // justify-content: space-between;        
        button {
            margin: 4px;
        }
    }
}

.audio-player {
    width: 100%;
    @include mq(tablet) {
        width: 60%;

    }
}

.d-flex {
    display: flex;
    &.d-center {
        justify-content: center;
        align-items: center;
    }
}

.hero {
    background-size: cover;
    @include mq(tablet) {
        background-position: 50%;
        height: 62vh;
    }
}
.header {
    padding: 2rem;
    @include mq(tablet) {
        display: flex;
        header {

            margin-right: 5rem;
        }
    }
}

h2 {
    font-size: 1.5em;
    line-height: 1.3;
}


.grid {

    @extend .max-container;

    header {
        padding: 1rem;
        @include mq(desktop) {
            display: flex;
            align-items: flex-end;

            h1 {
                margin-bottom: 0.4rem;
            }
        }

    }
    .grid-container {
        .wrap {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
        }

        margin: 0;
        padding: 0;
        list-style: none;
        // display: flex;
        // flex-wrap: wrap;
        // align-content: start;
        // flex-grow: 1;

        .grid-item, li  {

            width: 50%;
            height:33vh;
            // border: 1px solid #97979738;
            display: inline-block;
            vertical-align: top;
            background-color: #648FA3;
            // @include mq(desktop) {
            //     // float: left;
            //     width: 50%;
            // }
            // align-items: center;
            // justify-content: center;
            
            a {
                // &:focus {
                //     border: 2px solid red;
                // }                
                float: left;
                text-decoration: none;
                &:active, &:visited {
                    text-decoration: none;
                    color: white;
                }
            }

            &.expandable {
                cursor: pointer;
            }
            &.auto-h {
                height: auto;
            }
            .tile-content {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            @include mq(tablet) {
                width: 25%;
            }

            &.active {
                // cursor: default;
            }
            // @include mq($until: tablet) {

            //     $order: 10 20 30 40 70 50 60 80 90 100;
            //     @for $i from 1 through length($order) {
            //         &:nth-child(#{$i}) {
            //             order: nth($order, $i);
            //         }
            //     }
            // }
            &.image {
                overflow: hidden;
                .bg {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    display: flex;
                    align-items: flex-end;
                    // transition: all 1s ease-out;
                    background-position: 50%;
                    background-repeat: no-repeat;

                    // &:hover {
                    //     background-size: 210%;
                    // }
                }
        
                // a {
                //     width: 50%;
                // }
          
            }            
        }

        .expander {
            position: relative;
            float: left;
            width: 100%;
            // min-height: 30vh;
            background-color: #588093;
            overflow: hidden;

            display: flex;
            // justify-content: center;
            align-items: center;
            // visibility: hidden;
            // display: none;

            &.active {
                // display: block;
            }

            .close {
                position: absolute;
                top: 1rem;
                right: 1rem;
                background: url('<%= path %>/close_icon.svg') no-repeat 50%;
                background-size: contain;
                width: 65px;
                height: 65px;
                // transition: transform 0.3s ease-out;

                &:hover, &:focus {
                    // transform: scale(1.1);
                }
            }

            .container {
                display: flex;
                width: calc(100% - 65px - 1rem);
            }
            h2 {
                margin-top: -1.2rem;
            }
            img {
                max-width: 100%;
            }
            .col1, .col2 {
                width: 50%;
                // display: inline-block;
            }
            .col2 {
                padding-left: 1rem;
            }

            .text-cols-2 {
                columns: 2;
            }


            
        }
            

        .audio {
            position: relative;
            &::after {
                content: '';
                width: 66px;
                height: 66px;
                display: block;
                background: url("<%= path %>/volume_icon.svg") 49% no-repeat;
                background-size: contain;
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                transition: transform 0.3s ease-out;
            }
            &:hover, &:focus {
                &::after {
                transform: scale(1.1);
                }
            }
            & + .expander {
                height: 33vh;
            }
        }
        // .grid-item:nth-child(3) {
        //     height: 75%;
        // }
        .w-100 {
            width: 100%;
        }
        .w-50 {
            width: 100%;
            h2 {
                width: 60%;
            }
        }
        @include mq(tablet) {

            .w-50 {
                width: 50%;
            }
        }


    }

    // .grid-item:nth-of-type(2) {
    //     .bg {
    //         height: 100%;
    //         background: url("<%= path %>/tile1_bg.png");
    //         background-size: cover;
    //         display: flex;
    //         align-items: flex-end;
    //     }

    //     a {
    //         width: 50%;
    //     }
    // }
    // .grid-item:nth-of-type(4) {
    //     .bg {
    //         height: 100%;
    //         background: url("<%= path %>/tile3_bg.png");
    //         background-size: cover;
    //         display: flex;
    //         align-items: flex-end;
    //     }

    //     a {
    //         width: 50%;
    //     }
    // }

}

.footer {
    padding-bottom: 2rem;
    .hr {
        padding: 1rem 0 0;
        margin-top: 1rem;
        border-top: 1px dashed #D8D8D8 ;
    }
    a {
        color: #FCC242;
    }
    @include mq(tablet) {
        .footer-content {
            width: 80%;
        }
    }
}