<div class="interactive-wrapper">
    <div id="Glabs">
        <main>
            <header>
                <div class="flex-container">
                    <div class="bg"
                        style="background-image: url('<%= path %>/header.jpg');">
                    </div>
                    <!-- <video src="<%= path %>/smoke.mp4" autoplay playsinline loop muted ></video> -->
                    <div class="ClientDetails"><span>Paid for By</span><a
                        href="https://www.powershop.com.au/" target="_blank" rel="noopener noreferrer"
                        data-category="Link Clicked"><img
                            src="<%= path %>/amex.jpg"
                            width="140"
                            alt="PowerShop"></a></div>
                    <h1>Lorem ipsum dolor sit.</h1>
                </div>
            </header>

            <section class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tenetur animi praesentium dolores, incidunt quam aspernatur esse rerum architecto. Doloremque velit quibusdam suscipit quod numquam delectus. Sunt enim eveniet quis!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tenetur animi praesentium dolores, incidunt quam aspernatur esse rerum architecto. Doloremque velit quibusdam suscipit quod numquam delectus. Sunt enim eveniet quis!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tenetur animi praesentium dolores, incidunt quam aspernatur esse rerum architecto. Doloremque velit quibusdam suscipit quod numquam delectus. Sunt enim eveniet quis!</p>
            </section>
            <section class="audio">
                <div class="vis pleft" style="background-image: url(<%= path %>/img1.jpg); background-position: 50% 100%;"></div>
                <div id="aud1"></div>
            </section>
            <section class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tenetur animi praesentium dolores, incidunt quam aspernatur esse rerum architecto. Doloremque velit quibusdam suscipit quod numquam delectus. Sunt enim eveniet quis!</p>
            </section>
            <section class="audio">
                <div class="vis pright" style="background-image: url(<%= path %>/img1.jpg); background-position: 50% 100%;"></div>
            </section>
            <section class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tenetur animi praesentium dolores, incidunt quam aspernatur esse rerum architecto. Doloremque velit quibusdam suscipit quod numquam delectus. Sunt enim eveniet quis!</p>
            </section>            
        </main>
        <div id="Live">
            
            <div id="Top" class="GlabsContainer">
                <div class="ResponsiveContainer">
                    <div class="BodyCopy">

                        <div class="GlabsContainer">
                            <div class="FullWidth">
                                <div class="inner">
                                </div>
                            </div>
                        </div>
 

                        <div class="BodyCopy cta" data-dyn="cta">
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="GlabsContainer">
                <div class="ResponsiveContainer">
                    <div class="grid">
                        
                        
                    </div>
                </div>
            </div>
            <div id="Bottom" class="GlabsContainer">
                <div class="ResponsiveContainer">

                </div>
            </div>
            <div id="SocialMediaIcons" class="SocialMediaIcons">
                <div class="GlabsContainer">
                    <div class="ResponsiveContainer">
                        <div>
                            <div id="ShareMe">
                                <h3>Share</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="GlabsContainer">
                <div class="ResponsiveContainer">
                    <div id="Footer" class=" ">
                        <div class="footer-cta" data-dyn="footerCta">


                        </div>
                        <div class="related">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>