<div class="interactive-wrapper">
    <div id="Glabs">
        <div id="root"></div>
        <main>
            <section class="grid">
                <div class="grid-container">
                    <div class="grid-item w-100 auto-h">
                        <header class="container">
                            <h1>Meet the dairy farmers who want to be part of the climate solution</h1>
                            <p>We take you to the farm gate to hear from the diary farmers around Australia who believe in a more sustainable, environmentally-friendly way of farming. A growing collection of sustainably minded farmers are committed to being part of the solution to the climate emergency.</p>
                        </header>
                    </div>
                    <div class="grid-item more">
                        <div class="bg container">
                            <a href="#">How tree planting lorum ipsum sit dolor »</a>
                        </div>
                    </div>
                    <div className="expander">Expanded {props.index + 1}</div>
                    <div class="grid-item more">
                        <div class="bg container">
                            <a href="#">How tree planting lorum ipsum sit dolor »</a>
                        </div>
                    </div>
                    <div class="grid-item more">
                        <div class="bg container">
                            <a href="#">How tree planting lorum ipsum sit dolor »</a>
                        </div>
                    </div>
                    <div class="grid-item more">
                        <div class="bg container">
                            <a href="#">How tree planting lorum ipsum sit dolor »</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>